
  {{#each year in _content itemController="yearItem"}}
  <div class="span12">
  <a {{action toggleProperty 'isExpanded'}}> {{#if isExpanded}} <small>&nbsp; v &nbsp;</small> {{else}}<small>&nbsp; > &nbsp;</small>{{/if}}  {{year.key}}</a>
  {{#if isExpanded}}
  {{#each month in year.value itemController="monthItem"}}
  <div class="span12" style="margin-left: 10px;">
    <a {{action toggleProperty 'isExpanded'}}> {{#if isExpanded}} <small>&nbsp; v &nbsp;</small> {{else}}<small>&nbsp; > &nbsp;</small>{{/if}} {{month.key}}</a>
    {{#if isExpanded}}
    {{#each post in month.value}}
    <div class="span12" style="margin-left: 30px;">
      {{#linkTo 'post' post}}{{post.name}}{{/linkTo}}
    </div>
    {{/each}}
    {{/if}}
  </div>
  {{/each}}
  {{/if}}
  </div>
  {{/each}}
